In [1]:
from dotenv import load_dotenv
import os
load_dotenv('./.env')
assert os.getenv('ENGINE') is not None, "Please set the ENGINE_STRING environment variable in the .env file"

In [2]:
from omop_constructs.alchemy.condition_modifiers.modifier_joins import grade_select
from omop_constructs.semantics import registry, registry_engine
from omop_alchemy.cdm.model import Condition_Occurrence, Concept, Episode_Event
from omop_semantics.runtime.default_valuesets import runtime

print(grade_select.compile(registry_engine, compile_kwargs={"literal_binds": True}))

SELECT tumor_grade_earliest.person_id, tumor_grade_earliest.measurement_event_id, tumor_grade_earliest.meas_event_field_concept_id, tumor_grade_earliest.measurement_concept_id, tumor_grade_earliest.measurement_id, tumor_grade_earliest.measurement_date, tumor_grade_earliest.concept_name, tumor_grade_earliest.rn
FROM (SELECT tumor_grade.person_id AS person_id, tumor_grade.measurement_event_id AS measurement_event_id, tumor_grade.meas_event_field_concept_id AS meas_event_field_concept_id, tumor_grade.measurement_concept_id AS measurement_concept_id, tumor_grade.measurement_id AS measurement_id, tumor_grade.measurement_date AS measurement_date, tumor_grade.concept_name AS concept_name, row_number() OVER (PARTITION BY tumor_grade.measurement_event_id ORDER BY tumor_grade.measurement_date ASC) AS rn
FROM (SELECT measurement.person_id AS person_id, measurement.measurement_event_id AS measurement_event_id, measurement.meas_event_field_concept_id AS meas_event_field_concept_id, measurement.measurement_concept_id AS measurement_concept_id, measurement.measurement_id AS measurement_id, measurement.measurement_date AS measurement_date, modifier_concept.concept_name AS concept_name
FROM measurement LEFT OUTER JOIN concept AS modifier_concept ON modifier_concept.concept_id = measurement.measurement_concept_id
WHERE measurement.measurement_concept_id IN (1634821, 1635718, 1634055, 1635079, 1633802, 1634699, 1633550, 1633295, 1634832, 1634067, 1635475, 1634459, 1634207, 1633951, 1635233, 1633826, 1633575, 1634989, 1633587, 1634230, 1634870, 1634617, 1635385, 1633596, 1635517, 1634750, 1634752, 1633601, 1635394, 1634371, 1633348, 1633991, 1635792, 1633749, 1634517, 1633367, 1635162, 1635165, 1633887, 1635297, 1633509, 1633643, 1635693, 1635826, 1635317, 1634808, 1635449, 1635448, 1635198)) AS tumor_grade) AS tumor_grade_earliest
WHERE tumor_grade_earliest.rn = 1

In [3]:
from omop_constructs.alchemy.condition_modifiers import TStage, NStage, MStage, GroupStage, SizeModifier, GradeModifier, LatModifier

In [4]:
import sqlalchemy as sa
import sqlalchemy.orm as so

In [5]:
condition_concept = so.aliased(Concept, name='condition_concept')

In [6]:
TStage.__table__

In [7]:
print(TStage.__table__.compile(registry_engine, compile_kwargs={"literal_binds": True}))

SELECT t_stage_ranked.person_id, t_stage_ranked.stage_id, t_stage_ranked.stage_date, t_stage_ranked.stage_datetime, t_stage_ranked.stage_concept_id, t_stage_ranked.measurement_event_id, t_stage_ranked.meas_event_field_concept_id, t_stage_ranked.stage_label, t_stage_ranked.stage_type, t_stage_ranked.rn
FROM (SELECT t_stage_initial.person_id AS person_id, t_stage_initial.stage_id AS stage_id, t_stage_initial.stage_date AS stage_date, t_stage_initial.stage_datetime AS stage_datetime, t_stage_initial.stage_concept_id AS stage_concept_id, t_stage_initial.measurement_event_id AS measurement_event_id, t_stage_initial.meas_event_field_concept_id AS meas_event_field_concept_id, t_stage_initial.stage_label AS stage_label, t_stage_initial.stage_type AS stage_type, row_number() OVER (PARTITION BY t_stage_initial.measurement_event_id ORDER BY t_stage_initial.stage_type, t_stage_initial.stage_date ASC) AS rn
FROM (SELECT measurement.person_id AS person_id, measurement.measurement_id AS stage_id, measurement.measurement_date AS stage_date, measurement.measurement_datetime AS stage_datetime, measurement.measurement_concept_id AS stage_concept_id, measurement.measurement_event_id AS measurement_event_id, measurement.meas_event_field_concept_id AS meas_event_field_concept_id, modifier_concept.concept_name AS stage_label, CASE WHEN (modifier_concept.concept_code LIKE 'p%') THEN 'aaa_path' ELSE 'zzz_clin' END AS stage_type
FROM measurement LEFT OUTER JOIN concept AS modifier_concept ON modifier_concept.concept_id = measurement.measurement_concept_id
WHERE measurement.measurement_concept_id IN (1634309, 1634311, 1634318, 1634319, 1634320, 1634322, 1634334, 1634335, 1634346, 1634347, 1634360, 1634363, 1634369, 1634373, 1634376, 1634378, 1634381, 1634385, 1634386, 1634387, 1634392, 1634393, 1634394, 1634400, 1634402, 1634404, 1634406, 1634409, 1634418, 1634420, 1634428, 1634429, 1634432, 1634436, 1634437, 1634438, 1634444, 1634450, 1634455, 1634458, 1634460, 1634464, 1634473, 1634476, 1634477, 1634486, 1634490, 1634491, 1634493, 1634495, 1634496, 1634498, 1634500, 1634501, 1634503, 1634506, 1634509, 1634514, 1634515, 1634518, 1634521, 1634522, 1634524, 1634530, 1634532, 1634533, 1634534, 1634535, 1634540, 1634547, 1634552, 1634561, 1634566, 1634569, 1634572, 1634576, 1634577, 1634578, 1634581, 1634582, 1634584, 1634585, 1634587, 1634588, 1634594, 1634595, 1634597, 1634598, 1634600, 1634607, 1634608, 1634616, 1634621, 1634623, 1634624, 1634633, 1634635, 1634636, 1634641, 1634646, 1634651, 1634654, 1634656, 1634658, 1634659, 1634660, 1634662, 1634663, 1634664, 1634667, 1634668, 1634674, 1634675, 1634676, 1634683, 1634684, 1634685, 1634687, 1634689, 1634691, 1634693, 1634695, 1634701, 1634709, 1634710, 1634711, 1634713, 1634714, 1634720, 1634724, 1634728, 1634730, 1634736, 1634744, 1634749, 1634753, 1634758, 1634763, 1634765, 1634768, 1634781, 1634783, 1634786, 1634790, 1634791, 1634792, 1634793, 1634807, 1634817, 1634819, 1634820, 1634825, 1634827, 1634828, 1634839, 1634840, 1634841, 1634843, 1634846, 1634851, 1634852, 1634854, 1634857, 1634858, 1634863, 1634864, 1634867, 1634874, 1634877, 1634880, 1634894, 1634898, 1634904, 1634905, 1634906, 1634907, 1634913, 1634925, 1634929, 1634931, 1634933, 1634936, 1634938, 1634939, 1634941, 1634943, 1634944, 1634945, 1634951, 1634957, 1634961, 1634962, 1634963, 1634965, 1634972, 1634973, 1634974, 1634979, 1634980, 1634984, 1634986, 1634988, 1634993, 1634995, 1635003, 1635005, 1635010, 1635012, 1635015, 1635017, 1635022, 1635026, 1635027, 1635028, 1635033, 1635035, 1635037, 1635038, 1635039, 1635044, 1635046, 1635048, 1635050, 1635051, 1635055, 1635057, 1635058, 1635059, 1635069, 1635070, 1635071, 1635078, 1635081, 1635082, 1635083, 1635107, 1635112, 1635114, 1635116, 1635117, 1635119, 1635120, 1635123, 1635127, 1635143, 1635144, 1635145, 1635148, 1635150, 1635155, 1635158, 1635163, 1635167, 1635168, 1635171, 1635178, 1635180, 1635181, 1635188, 1635192, 1635205, 1635209, 1635210, 1635211, 1635219, 1635220, 1635222, 1635224, 1635225, 1635227, 1635229, 1635328, 1635237, 1635329, 1635241, 1635242, 1635250, 1635254, 1635259, 1635262, 1635266, 1635267, 1635269, 1635270, 1635271, 1635275, 1635279, 1635280, 1635282, 1635287, 1635290, 1635292, 1635294, 1635295, 1635299, 1635300, 1635301, 1635304, 1635306, 1635308, 1635311, 1635313, 1633268, 1633269, 1635318, 1635321, 1635322, 1633278, 1633279, 1633280, 1633281, 1635326, 1635331, 1635327, 1635333, 1633285, 1633282, 1633288, 1633287, 1633289, 1635341, 1635342, 1635343, 1635346, 1633300, 1635349, 1635350, 1635348, 1635352, 1635353, 1633307, 1635357, 1635362, 1635364, 1635367, 1635368, 1635371, 1633324, 1633326, 1635375, 1635377, 1633329, 1635383, 1633338, 1633339, 1633340, 1633341, 1635391, 1635396, 1635397, 1633353, 1635402, 1635406, 1635407, 1633360, 1635409, 1633365, 1635414, 1635419, 1633374, 1635422, 1635424, 1633377, 1633378, 1635427, 1633379, 1633380, 1633387, 1635436, 1635438, 1633390, 1633392, 1635441, 1635442, 1635443, 1633396, 1635446, 1633399, 1633398, 1635447, 1635451, 1633406, 1633407, 1635456, 1633411, 1633412, 1633417, 1635466, 1635468, 1633420, 1635469, 1635472, 1635476, 1633432, 1635481, 1633436, 1635484, 1635487, 1633441, 1635490, 1635491, 1635492, 1633445, 1633446, 1635493, 1633448, 1635497, 1633449, 1633451, 1633453, 1633454, 1635502, 1635509, 1635512, 1635514, 1635515, 1633467, 1633470, 1635520, 1633473, 1635522, 1635521, 1635526, 1633478, 1633480, 1635529, 1635530, 1635531, 1635532, 1633486, 1633487, 1635537, 1635539, 1633492, 1633493, 1633494, 1635544, 1633497, 1635547, 1635548, 1635553, 1633506, 1635556, 1635558, 1635562, 1633515, 1635564, 1633517, 1633520, 1635568, 1635570, 1633522, 1635571, 1633525, 1635573, 1635575, 1633528, 1633529, 1633531, 1633532, 1635580, 1635582, 1635583, 1635584, 1633538, 1633539, 1633540, 1633541, 1635586, 1633543, 1635592, 1633545, 1633546, 1635595, 1633549, 1635598, 1633552, 1635603, 1633556, 1635604, 1635607, 1633563, 1635615, 1635617, 1633570, 1635619, 1633574, 1635623, 1635625, 1635626, 1633579, 1635627, 1633581, 1633582, 1633583, 1635635, 1633589, 1633593, 1635643, 1633595, 1633598, 1635647, 1635648, 1635651, 1633604, 1633605, 1635652, 1635655, 1635656, 1633608, 1633610, 1635660, 1633613, 1635661, 1633616, 1635665, 1635664, 1635666, 1635668, 1635667, 1635670, 1635671, 1633623, 1633626, 1633628, 1635676, 1635678, 1633631, 1635680, 1635682, 1633635, 1635683, 1635685, 1635687, 1635690, 1633644, 1633648, 1635698, 1635699, 1635700, 1635701, 1635702, 1635703, 1633658, 1635707, 1633660, 1635710, 1633663, 1635712, 1633665, 1635713, 1635716, 1633671, 1633672, 1633673, 1635723, 1635724, 1633678, 1635727, 1633680, 1633685, 1635735, 1633689, 1633691, 1635740, 1635741, 1633692, 1635743, 1633693, 1633699, 1635748, 1633703, 1635751, 1635756, 1635759, 1633714, 1635763, 1633715, 1635768, 1633721, 1633722, 1633723, 1633724, 1633725, 1635771, 1635772, 1635777, 1635779, 1633732, 1635781, 1635783, 1633737, 1633739, 1635788, 1635789, 1633742, 1635793, 1635794, 1633747, 1633746, 1635799, 1633752, 1635803, 1635804, 1633758, 1635807, 1633760, 1633762, 1635810, 1633764, 1633765, 1635813, 1635815, 1633767, 1633770, 1633771, 1635827, 1633779, 1633781, 1633782, 1633780, 1635832, 1635835, 1633787, 1635837, 1633790, 1633797, 1633798, 1635845, 1635851, 1633803, 1635854, 1633809, 1635857, 1633810, 1633812, 1635861, 1633814, 1633815, 1635863, 1633820, 1635870, 1633824, 1635873, 1635874, 1635876, 1635879, 1633832, 1635881, 1633838, 1635888, 1635889, 1635891, 1635892, 1633845, 1635895, 1633847, 1633848, 1633851, 1633853, 1633858, 1633863, 1633867, 1633874, 1633875, 1633877, 1633880, 1633882, 1633883, 1633888, 1633892, 1633893, 1633896, 1633900, 1633909, 1633911, 1633913, 1633919, 1633920, 1633921, 1633925, 1633926, 1633930, 1633932, 1633935, 1633941, 1633943, 1633946, 1633947, 1633949, 1633958, 1633962, 1633969, 1633975, 1633976, 1633978, 1633980, 1633981, 1633984, 1633999, 1634004, 1634011, 1634012, 1634017, 1634018, 1634020, 1634023, 1634025, 1634029, 1634032, 1634040, 1634043, 1634044, 1634045, 1634046, 1634047, 1634050, 1634053, 1634057, 1634059, 1634062, 1634071, 1634076, 1634088, 1634089, 1634092, 1634096, 1634100, 1634101, 1634105, 1634111, 1634112, 1634116, 1634120, 1634121, 1634122, 1634126, 1634130, 1634132, 1634133, 1634136, 1634149, 1634153, 1634155, 1634157, 1634159, 1634162, 1634166, 1634169, 1634170, 1634173, 1634178, 1634179, 1634180, 1634182, 1634184, 1634185, 1634186, 1634187, 1634190, 1634192, 1634193, 1634195, 1634200, 1634202, 1634203, 1634204, 1634211, 1634213, 1634217, 1634219, 1634221, 1634222, 1634224, 1634229, 1634235, 1634236, 1634237, 1634243, 1634246, 1634247, 1634251, 1634255, 1634257, 1634258, 1634260, 1634264, 1634265, 1634269, 1634270, 1634272, 1634274, 1634276, 1634277, 1634280, 1634282, 1634288, 1634291, 1634301, 1634303)) AS t_stage_initial) AS t_stage_ranked
WHERE t_stage_ranked.rn = 1

In [13]:
from omop_constructs.alchemy.condition_modifiers.condition_modifier_join import modified_conditions_join
from omop_constructs.alchemy.condition_modifiers.condition_modifier_mv import ModifiedCondition

In [9]:
print(modified_conditions_join.compile(registry_engine, compile_kwargs={"literal_binds": True}))

SELECT row_number() OVER () AS mv_id, condition_occurrence.person_id, condition_occurrence.condition_start_date, condition_occurrence.condition_occurrence_id, condition_occurrence.condition_source_value, condition_occurrence.condition_concept_id, condition_concept.concept_name AS condition_concept, episode_event.episode_id AS condition_episode, t_stage_filtered.stage_id AS t_stage_id, t_stage_filtered.stage_date AS t_stage_date, t_stage_filtered.stage_concept_id AS t_stage_concept_id, t_stage_filtered.stage_label AS t_stage_label, n_stage_filtered.stage_id AS n_stage_id, n_stage_filtered.stage_date AS n_stage_date, n_stage_filtered.stage_concept_id AS n_stage_concept_id, n_stage_filtered.stage_label AS n_stage_label, m_stage_filtered.stage_id AS m_stage_id, m_stage_filtered.stage_date AS m_stage_date, m_stage_filtered.stage_concept_id AS m_stage_concept_id, m_stage_filtered.stage_label AS m_stage_label, group_stage_filtered.stage_id AS group_stage_id, group_stage_filtered.stage_date AS group_stage_date, group_stage_filtered.stage_concept_id AS group_stage_concept_id, group_stage_filtered.stage_label AS group_stage_label, tumor_grade_earliest_filtered.measurement_id AS grade_id, tumor_grade_earliest_filtered.measurement_date AS grade_date, tumor_grade_earliest_filtered.concept_name AS grade_concept, tumor_size_earliest_filtered.measurement_id AS size_id, tumor_size_earliest_filtered.measurement_date AS size_date, tumor_size_earliest_filtered.value_as_number AS size_value, tumor_size_earliest_filtered.concept_name AS size_concept, tumor_laterality_earliest_filtered.measurement_id AS laterality_id, tumor_laterality_earliest_filtered.measurement_date AS laterality_date, tumor_laterality_earliest_filtered.concept_name AS laterality_concept
FROM condition_occurrence LEFT OUTER JOIN episode_event ON episode_event.event_id = condition_occurrence.condition_occurrence_id AND episode_event.episode_event_field_concept_id = 1147127 LEFT OUTER JOIN (SELECT t_stage_ranked.person_id AS person_id, t_stage_ranked.stage_id AS stage_id, t_stage_ranked.stage_date AS stage_date, t_stage_ranked.stage_datetime AS stage_datetime, t_stage_ranked.stage_concept_id AS stage_concept_id, t_stage_ranked.measurement_event_id AS measurement_event_id, t_stage_ranked.meas_event_field_concept_id AS meas_event_field_concept_id, t_stage_ranked.stage_label AS stage_label, t_stage_ranked.stage_type AS stage_type, t_stage_ranked.rn AS rn
FROM (SELECT t_stage_initial.person_id AS person_id, t_stage_initial.stage_id AS stage_id, t_stage_initial.stage_date AS stage_date, t_stage_initial.stage_datetime AS stage_datetime, t_stage_initial.stage_concept_id AS stage_concept_id, t_stage_initial.measurement_event_id AS measurement_event_id, t_stage_initial.meas_event_field_concept_id AS meas_event_field_concept_id, t_stage_initial.stage_label AS stage_label, t_stage_initial.stage_type AS stage_type, row_number() OVER (PARTITION BY t_stage_initial.measurement_event_id ORDER BY t_stage_initial.stage_type, t_stage_initial.stage_date ASC) AS rn
FROM (SELECT measurement.person_id AS person_id, measurement.measurement_id AS stage_id, measurement.measurement_date AS stage_date, measurement.measurement_datetime AS stage_datetime, measurement.measurement_concept_id AS stage_concept_id, measurement.measurement_event_id AS measurement_event_id, measurement.meas_event_field_concept_id AS meas_event_field_concept_id, modifier_concept.concept_name AS stage_label, CASE WHEN (modifier_concept.concept_code LIKE 'p%') THEN 'aaa_path' ELSE 'zzz_clin' END AS stage_type
FROM measurement LEFT OUTER JOIN concept AS modifier_concept ON modifier_concept.concept_id = measurement.measurement_concept_id
WHERE measurement.measurement_concept_id IN (1634309, 1634311, 1634318, 1634319, 1634320, 1634322, 1634334, 1634335, 1634346, 1634347, 1634360, 1634363, 1634369, 1634373, 1634376, 1634378, 1634381, 1634385, 1634386, 1634387, 1634392, 1634393, 1634394, 1634400, 1634402, 1634404, 1634406, 1634409, 1634418, 1634420, 1634428, 1634429, 1634432, 1634436, 1634437, 1634438, 1634444, 1634450, 1634455, 1634458, 1634460, 1634464, 1634473, 1634476, 1634477, 1634486, 1634490, 1634491, 1634493, 1634495, 1634496, 1634498, 1634500, 1634501, 1634503, 1634506, 1634509, 1634514, 1634515, 1634518, 1634521, 1634522, 1634524, 1634530, 1634532, 1634533, 1634534, 1634535, 1634540, 1634547, 1634552, 1634561, 1634566, 1634569, 1634572, 1634576, 1634577, 1634578, 1634581, 1634582, 1634584, 1634585, 1634587, 1634588, 1634594, 1634595, 1634597, 1634598, 1634600, 1634607, 1634608, 1634616, 1634621, 1634623, 1634624, 1634633, 1634635, 1634636, 1634641, 1634646, 1634651, 1634654, 1634656, 1634658, 1634659, 1634660, 1634662, 1634663, 1634664, 1634667, 1634668, 1634674, 1634675, 1634676, 1634683, 1634684, 1634685, 1634687, 1634689, 1634691, 1634693, 1634695, 1634701, 1634709, 1634710, 1634711, 1634713, 1634714, 1634720, 1634724, 1634728, 1634730, 1634736, 1634744, 1634749, 1634753, 1634758, 1634763, 1634765, 1634768, 1634781, 1634783, 1634786, 1634790, 1634791, 1634792, 1634793, 1634807, 1634817, 1634819, 1634820, 1634825, 1634827, 1634828, 1634839, 1634840, 1634841, 1634843, 1634846, 1634851, 1634852, 1634854, 1634857, 1634858, 1634863, 1634864, 1634867, 1634874, 1634877, 1634880, 1634894, 1634898, 1634904, 1634905, 1634906, 1634907, 1634913, 1634925, 1634929, 1634931, 1634933, 1634936, 1634938, 1634939, 1634941, 1634943, 1634944, 1634945, 1634951, 1634957, 1634961, 1634962, 1634963, 1634965, 1634972, 1634973, 1634974, 1634979, 1634980, 1634984, 1634986, 1634988, 1634993, 1634995, 1635003, 1635005, 1635010, 1635012, 1635015, 1635017, 1635022, 1635026, 1635027, 1635028, 1635033, 1635035, 1635037, 1635038, 1635039, 1635044, 1635046, 1635048, 1635050, 1635051, 1635055, 1635057, 1635058, 1635059, 1635069, 1635070, 1635071, 1635078, 1635081, 1635082, 1635083, 1635107, 1635112, 1635114, 1635116, 1635117, 1635119, 1635120, 1635123, 1635127, 1635143, 1635144, 1635145, 1635148, 1635150, 1635155, 1635158, 1635163, 1635167, 1635168, 1635171, 1635178, 1635180, 1635181, 1635188, 1635192, 1635205, 1635209, 1635210, 1635211, 1635219, 1635220, 1635222, 1635224, 1635225, 1635227, 1635229, 1635328, 1635237, 1635329, 1635241, 1635242, 1635250, 1635254, 1635259, 1635262, 1635266, 1635267, 1635269, 1635270, 1635271, 1635275, 1635279, 1635280, 1635282, 1635287, 1635290, 1635292, 1635294, 1635295, 1635299, 1635300, 1635301, 1635304, 1635306, 1635308, 1635311, 1635313, 1633268, 1633269, 1635318, 1635321, 1635322, 1633278, 1633279, 1633280, 1633281, 1635326, 1635331, 1635327, 1635333, 1633285, 1633282, 1633288, 1633287, 1633289, 1635341, 1635342, 1635343, 1635346, 1633300, 1635349, 1635350, 1635348, 1635352, 1635353, 1633307, 1635357, 1635362, 1635364, 1635367, 1635368, 1635371, 1633324, 1633326, 1635375, 1635377, 1633329, 1635383, 1633338, 1633339, 1633340, 1633341, 1635391, 1635396, 1635397, 1633353, 1635402, 1635406, 1635407, 1633360, 1635409, 1633365, 1635414, 1635419, 1633374, 1635422, 1635424, 1633377, 1633378, 1635427, 1633379, 1633380, 1633387, 1635436, 1635438, 1633390, 1633392, 1635441, 1635442, 1635443, 1633396, 1635446, 1633399, 1633398, 1635447, 1635451, 1633406, 1633407, 1635456, 1633411, 1633412, 1633417, 1635466, 1635468, 1633420, 1635469, 1635472, 1635476, 1633432, 1635481, 1633436, 1635484, 1635487, 1633441, 1635490, 1635491, 1635492, 1633445, 1633446, 1635493, 1633448, 1635497, 1633449, 1633451, 1633453, 1633454, 1635502, 1635509, 1635512, 1635514, 1635515, 1633467, 1633470, 1635520, 1633473, 1635522, 1635521, 1635526, 1633478, 1633480, 1635529, 1635530, 1635531, 1635532, 1633486, 1633487, 1635537, 1635539, 1633492, 1633493, 1633494, 1635544, 1633497, 1635547, 1635548, 1635553, 1633506, 1635556, 1635558, 1635562, 1633515, 1635564, 1633517, 1633520, 1635568, 1635570, 1633522, 1635571, 1633525, 1635573, 1635575, 1633528, 1633529, 1633531, 1633532, 1635580, 1635582, 1635583, 1635584, 1633538, 1633539, 1633540, 1633541, 1635586, 1633543, 1635592, 1633545, 1633546, 1635595, 1633549, 1635598, 1633552, 1635603, 1633556, 1635604, 1635607, 1633563, 1635615, 1635617, 1633570, 1635619, 1633574, 1635623, 1635625, 1635626, 1633579, 1635627, 1633581, 1633582, 1633583, 1635635, 1633589, 1633593, 1635643, 1633595, 1633598, 1635647, 1635648, 1635651, 1633604, 1633605, 1635652, 1635655, 1635656, 1633608, 1633610, 1635660, 1633613, 1635661, 1633616, 1635665, 1635664, 1635666, 1635668, 1635667, 1635670, 1635671, 1633623, 1633626, 1633628, 1635676, 1635678, 1633631, 1635680, 1635682, 1633635, 1635683, 1635685, 1635687, 1635690, 1633644, 1633648, 1635698, 1635699, 1635700, 1635701, 1635702, 1635703, 1633658, 1635707, 1633660, 1635710, 1633663, 1635712, 1633665, 1635713, 1635716, 1633671, 1633672, 1633673, 1635723, 1635724, 1633678, 1635727, 1633680, 1633685, 1635735, 1633689, 1633691, 1635740, 1635741, 1633692, 1635743, 1633693, 1633699, 1635748, 1633703, 1635751, 1635756, 1635759, 1633714, 1635763, 1633715, 1635768, 1633721, 1633722, 1633723, 1633724, 1633725, 1635771, 1635772, 1635777, 1635779, 1633732, 1635781, 1635783, 1633737, 1633739, 1635788, 1635789, 1633742, 1635793, 1635794, 1633747, 1633746, 1635799, 1633752, 1635803, 1635804, 1633758, 1635807, 1633760, 1633762, 1635810, 1633764, 1633765, 1635813, 1635815, 1633767, 1633770, 1633771, 1635827, 1633779, 1633781, 1633782, 1633780, 1635832, 1635835, 1633787, 1635837, 1633790, 1633797, 1633798, 1635845, 1635851, 1633803, 1635854, 1633809, 1635857, 1633810, 1633812, 1635861, 1633814, 1633815, 1635863, 1633820, 1635870, 1633824, 1635873, 1635874, 1635876, 1635879, 1633832, 1635881, 1633838, 1635888, 1635889, 1635891, 1635892, 1633845, 1635895, 1633847, 1633848, 1633851, 1633853, 1633858, 1633863, 1633867, 1633874, 1633875, 1633877, 1633880, 1633882, 1633883, 1633888, 1633892, 1633893, 1633896, 1633900, 1633909, 1633911, 1633913, 1633919, 1633920, 1633921, 1633925, 1633926, 1633930, 1633932, 1633935, 1633941, 1633943, 1633946, 1633947, 1633949, 1633958, 1633962, 1633969, 1633975, 1633976, 1633978, 1633980, 1633981, 1633984, 1633999, 1634004, 1634011, 1634012, 1634017, 1634018, 1634020, 1634023, 1634025, 1634029, 1634032, 1634040, 1634043, 1634044, 1634045, 1634046, 1634047, 1634050, 1634053, 1634057, 1634059, 1634062, 1634071, 1634076, 1634088, 1634089, 1634092, 1634096, 1634100, 1634101, 1634105, 1634111, 1634112, 1634116, 1634120, 1634121, 1634122, 1634126, 1634130, 1634132, 1634133, 1634136, 1634149, 1634153, 1634155, 1634157, 1634159, 1634162, 1634166, 1634169, 1634170, 1634173, 1634178, 1634179, 1634180, 1634182, 1634184, 1634185, 1634186, 1634187, 1634190, 1634192, 1634193, 1634195, 1634200, 1634202, 1634203, 1634204, 1634211, 1634213, 1634217, 1634219, 1634221, 1634222, 1634224, 1634229, 1634235, 1634236, 1634237, 1634243, 1634246, 1634247, 1634251, 1634255, 1634257, 1634258, 1634260, 1634264, 1634265, 1634269, 1634270, 1634272, 1634274, 1634276, 1634277, 1634280, 1634282, 1634288, 1634291, 1634301, 1634303)) AS t_stage_initial) AS t_stage_ranked
WHERE t_stage_ranked.rn = 1) AS t_stage_filtered ON t_stage_filtered.meas_event_field_concept_id = 1147127 AND condition_occurrence.condition_occurrence_id = t_stage_filtered.measurement_event_id LEFT OUTER JOIN (SELECT n_stage_ranked.person_id AS person_id, n_stage_ranked.stage_id AS stage_id, n_stage_ranked.stage_date AS stage_date, n_stage_ranked.stage_datetime AS stage_datetime, n_stage_ranked.stage_concept_id AS stage_concept_id, n_stage_ranked.measurement_event_id AS measurement_event_id, n_stage_ranked.meas_event_field_concept_id AS meas_event_field_concept_id, n_stage_ranked.stage_label AS stage_label, n_stage_ranked.stage_type AS stage_type, n_stage_ranked.rn AS rn
FROM (SELECT n_stage_initial.person_id AS person_id, n_stage_initial.stage_id AS stage_id, n_stage_initial.stage_date AS stage_date, n_stage_initial.stage_datetime AS stage_datetime, n_stage_initial.stage_concept_id AS stage_concept_id, n_stage_initial.measurement_event_id AS measurement_event_id, n_stage_initial.meas_event_field_concept_id AS meas_event_field_concept_id, n_stage_initial.stage_label AS stage_label, n_stage_initial.stage_type AS stage_type, row_number() OVER (PARTITION BY n_stage_initial.measurement_event_id ORDER BY n_stage_initial.stage_type, n_stage_initial.stage_date ASC) AS rn
FROM (SELECT measurement.person_id AS person_id, measurement.measurement_id AS stage_id, measurement.measurement_date AS stage_date, measurement.measurement_datetime AS stage_datetime, measurement.measurement_concept_id AS stage_concept_id, measurement.measurement_event_id AS measurement_event_id, measurement.meas_event_field_concept_id AS meas_event_field_concept_id, modifier_concept.concept_name AS stage_label, CASE WHEN (modifier_concept.concept_code LIKE 'p%') THEN 'aaa_path' ELSE 'zzz_clin' END AS stage_type
FROM measurement LEFT OUTER JOIN concept AS modifier_concept ON modifier_concept.concept_id = measurement.measurement_concept_id
WHERE measurement.measurement_concept_id IN (1634305, 1634313, 1634321, 1634327, 1634328, 1634342, 1634345, 1634352, 1634356, 1634365, 1634366, 1634372, 1634374, 1634375, 1634382, 1634383, 1634389, 1634391, 1634396, 1634397, 1634399, 1634401, 1634403, 1634405, 1634421, 1634422, 1634426, 1634434, 1634439, 1634445, 1634448, 1634452, 1634456, 1634466, 1634469, 1634478, 1634489, 1634504, 1634505, 1634508, 1634511, 1634516, 1634519, 1634520, 1634523, 1634527, 1634528, 1634541, 1634554, 1634557, 1634559, 1634560, 1634562, 1634563, 1634565, 1634579, 1634586, 1634589, 1634591, 1634601, 1634611, 1634613, 1634620, 1634625, 1634631, 1634638, 1634640, 1634642, 1634645, 1634649, 1634650, 1634669, 1634678, 1634696, 1634700, 1634702, 1634703, 1634704, 1634717, 1634722, 1634723, 1634727, 1634734, 1634735, 1634746, 1634748, 1634754, 1634770, 1634773, 1634776, 1634780, 1634784, 1634788, 1634796, 1634797, 1634812, 1634815, 1634818, 1634822, 1634823, 1634824, 1634838, 1634845, 1634847, 1634862, 1634866, 1634872, 1634878, 1634882, 1634889, 1634893, 1634896, 1634901, 1634915, 1634916, 1634919, 1634920, 1634923, 1634928, 1634930, 1634934, 1634935, 1634948, 1634949, 1634950, 1634953, 1634954, 1634968, 1634971, 1634977, 1634981, 1634985, 1634990, 1634997, 1635000, 1635001, 1635002, 1635004, 1635023, 1635042, 1635052, 1635061, 1635064, 1635065, 1635068, 1635072, 1635076, 1635080, 1635084, 1635087, 1635089, 1635091, 1635092, 1635093, 1635094, 1635096, 1635102, 1635103, 1635104, 1635105, 1635109, 1635110, 1635111, 1635113, 1635121, 1635130, 1635133, 1635134, 1635135, 1635136, 1635139, 1635156, 1635159, 1635164, 1635166, 1635169, 1635170, 1635185, 1635194, 1635196, 1635200, 1635201, 1635202, 1635204, 1635206, 1635213, 1635226, 1635231, 1635244, 1635245, 1635252, 1635258, 1635283, 1635285, 1635296, 1635307, 1635312, 1633271, 1635320, 1633273, 1633274, 1633275, 1633277, 1635335, 1633293, 1633301, 1635354, 1635359, 1635360, 1635361, 1633315, 1633318, 1633322, 1633323, 1635374, 1633328, 1633331, 1633332, 1635379, 1633334, 1633336, 1635387, 1633343, 1635392, 1633346, 1633347, 1633350, 1633351, 1635418, 1635429, 1635430, 1633384, 1635433, 1633394, 1635444, 1633397, 1635445, 1633400, 1633401, 1633404, 1635452, 1633408, 1633410, 1633415, 1633416, 1635464, 1633419, 1635470, 1633422, 1633426, 1633427, 1633429, 1635478, 1635480, 1633433, 1633434, 1633435, 1635483, 1633437, 1633440, 1633444, 1635495, 1635496, 1635499, 1635501, 1633455, 1635503, 1635504, 1633456, 1633459, 1633460, 1633461, 1635507, 1635513, 1635516, 1633474, 1635523, 1635524, 1633475, 1633476, 1633481, 1633484, 1633485, 1635534, 1635538, 1633495, 1635545, 1633500, 1633502, 1633503, 1633504, 1635550, 1635551, 1633507, 1633508, 1635559, 1635560, 1633512, 1633513, 1635563, 1633527, 1633530, 1633534, 1635585, 1635590, 1635597, 1635599, 1635600, 1633553, 1633557, 1633558, 1635605, 1633562, 1635610, 1633564, 1635613, 1633566, 1635614, 1633569, 1633572, 1633573, 1635622, 1633578, 1635628, 1635630, 1635634, 1635636, 1635641, 1635644, 1635645, 1635646, 1633599, 1633606, 1633607, 1633611, 1633612, 1635663, 1633619, 1633620, 1633621, 1633622, 1635677, 1633630, 1635679, 1635681, 1633640, 1633645, 1633647, 1635697, 1633651, 1633656, 1635706, 1633659, 1633661, 1635714, 1633667, 1633668, 1635717, 1633670, 1635719, 1633674, 1633676, 1633679, 1635729, 1635731, 1635732, 1635733, 1633686, 1633684, 1633688, 1635736, 1635737, 1635739, 1633695, 1635744, 1635746, 1633700, 1635752, 1633710, 1633711, 1635762, 1635765, 1635766, 1633719, 1633720, 1633726, 1635776, 1635778, 1633730, 1633735, 1635784, 1633740, 1633741, 1635795, 1635796, 1633755, 1635805, 1633763, 1633766, 1635816, 1635819, 1635820, 1635823, 1635825, 1635828, 1635830, 1633785, 1635834, 1633788, 1635836, 1635841, 1635846, 1635847, 1635849, 1635852, 1633805, 1633806, 1635858, 1635860, 1633816, 1633817, 1633819, 1635871, 1635875, 1633830, 1633831, 1633836, 1635885, 1633839, 1633840, 1633842, 1635890, 1635894, 1633854, 1633862, 1633864, 1633871, 1633881, 1633885, 1633886, 1633889, 1633890, 1633895, 1633899, 1633901, 1633912, 1633914, 1633918, 1633923, 1633934, 1633938, 1633942, 1633952, 1633955, 1633956, 1633964, 1633972, 1633989, 1633997, 1634000, 1634002, 1634010, 1634015, 1634016, 1634033, 1634034, 1634035, 1634037, 1634038, 1634039, 1634052, 1634054, 1634069, 1634070, 1634075, 1634080, 1634081, 1634094, 1634098, 1634102, 1634103, 1634107, 1634114, 1634117, 1634118, 1634119, 1634125, 1634134, 1634138, 1634139, 1634143, 1634145, 1634147, 1634151, 1634154, 1634158, 1634163, 1634165, 1634183, 1634198, 1634206, 1634212, 1634216, 1634223, 1634227, 1634233, 1634239, 1634240, 1634241, 1634244, 1634245, 1634254, 1634261, 1634263, 1634267, 1634271, 1634278, 1634287, 1634296, 1634298)) AS n_stage_initial) AS n_stage_ranked
WHERE n_stage_ranked.rn = 1) AS n_stage_filtered ON n_stage_filtered.meas_event_field_concept_id = 1147127 AND condition_occurrence.condition_occurrence_id = n_stage_filtered.measurement_event_id LEFT OUTER JOIN (SELECT m_stage_ranked.person_id AS person_id, m_stage_ranked.stage_id AS stage_id, m_stage_ranked.stage_date AS stage_date, m_stage_ranked.stage_datetime AS stage_datetime, m_stage_ranked.stage_concept_id AS stage_concept_id, m_stage_ranked.measurement_event_id AS measurement_event_id, m_stage_ranked.meas_event_field_concept_id AS meas_event_field_concept_id, m_stage_ranked.stage_label AS stage_label, m_stage_ranked.stage_type AS stage_type, m_stage_ranked.rn AS rn
FROM (SELECT m_stage_initial.person_id AS person_id, m_stage_initial.stage_id AS stage_id, m_stage_initial.stage_date AS stage_date, m_stage_initial.stage_datetime AS stage_datetime, m_stage_initial.stage_concept_id AS stage_concept_id, m_stage_initial.measurement_event_id AS measurement_event_id, m_stage_initial.meas_event_field_concept_id AS meas_event_field_concept_id, m_stage_initial.stage_label AS stage_label, m_stage_initial.stage_type AS stage_type, row_number() OVER (PARTITION BY m_stage_initial.measurement_event_id ORDER BY m_stage_initial.stage_type, m_stage_initial.stage_date ASC) AS rn
FROM (SELECT measurement.person_id AS person_id, measurement.measurement_id AS stage_id, measurement.measurement_date AS stage_date, measurement.measurement_datetime AS stage_datetime, measurement.measurement_concept_id AS stage_concept_id, measurement.measurement_event_id AS measurement_event_id, measurement.meas_event_field_concept_id AS meas_event_field_concept_id, modifier_concept.concept_name AS stage_label, CASE WHEN (modifier_concept.concept_code LIKE 'p%') THEN 'aaa_path' ELSE 'zzz_clin' END AS stage_type
FROM measurement LEFT OUTER JOIN concept AS modifier_concept ON modifier_concept.concept_id = measurement.measurement_concept_id

In [10]:
registry['metastatic_disease'].lookup('Metastasis to heart')

35226167

In [11]:
registry['metastatic_disease'].lookup('Metastatic malignant neoplasm to epicardium')

4129922

In [12]:
runtime.condition_modifiers.condition_modifier_values.metastatic_disease

36769180

In [16]:
with so.Session(registry_engine) as session:
    ModifiedCondition.refresh_mv(session)

OperationalError: (sqlite3.OperationalError) near "REFRESH": syntax error
[SQL: REFRESH MATERIALIZED VIEW modified_conditions_mv]
(Background on this error at: https://sqlalche.me/e/20/e3q8)